@page "/login"
@inject NavigationManager UriHelper

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">SIGN IN</h4>
        <div class="card-body">
            <EditForm Model="@model">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="model.Username" class="form-control" />
                    <ValidationMessage For="@(() => model.Username)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="model.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => model.Password)" />
                </div>
                <p> Not a member yet? <span><a href="@(UriHelper.BaseUri)register">Register</a></span> instead.</p>
                <button class="btn btn-primary">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                }
            </EditForm>
        </div>
    </div>
</div>

@code {
    private Model model = new Model();
    private bool loading;
    private string error;


    private class Model
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}